.modal-content{
    background-color: var(--black-color);
     color: var(--white-color);
}

.update{
    background-color: transparent;
    color: var(--success-color);
    border: 3px solid var(--success-color);
}

.update:hover{
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--black-color);
}

.delete {
    background-color: transparent;
    color: var(--error-color);
    border: 3px solid var(--error-color);
}
  
.delete:hover {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--black-color);
}

.btn-close {
    background-color: white;
}