@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root{
  --primary-color: #FFCAFD;
  --secondary-color: #6809C0;
  --success-color: #86FE5C;
  --error-color: #FF4646;
  --warning-color: #FDD548;
  --black-color: #262626;
  --white-color: #FFF0FE;
  --neutral-color: #FFF0FE;
}


body{
  background: linear-gradient(-45deg, #262626, #3f3f3f, #262626, #3f3f3f);
  background-size: 400% 400%;
  animation: backgroundTransition 10s ease-in-out infinite;
}

@keyframes backgroundTransition{
  0%{
      background-position: 0% 80%;
  }
  50%{
      background-position: 80% 100%;
  }
  100%{
      background-position: 0% 90%;
  }
}
