@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');


:root{
  --primary-color: #FFCAFD;
  --secondary-color: #6809C0;
  --success-color: #86FE5C;
  --error-color: #FF4646;
  --warning-color: #FDD548;
  --black-color: #262626;
  --white-color: #FFF0FE;
  --neutral-color: #FFF0FE;
}
